mat-card{
    width: 100%;
    height: auto;
}

#tableMemo {
    width: 100%;
}

#buttons {
    text-align: center;
}

#titles {
    text-align: center;
}

#tableoverflow{
    height: 300px;
    overflow: auto;
}

@media screen and (max-width:800px) {
    .layout{
        width: 100%;
    }
    .mat-dialog-containe{
        width: 60%;
    }
}

@media screen and (max-width:500px) {
    
}